.search-bar {
    display: flex;
    width: 100%;
    max-width: 500px; /* or any value you want */
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
