@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background: linear-gradient(to bottom, #1db954, #393838);
  }

.spotify-login-app,
.spotify-login-app .content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.spotify-login-app {
  display: flex;
  position: relative;
}

.spotify-login-app ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.spotify-login-app ::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
.spotify-login-app ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.spotify-login-app ::-webkit-scrollbar-thumb:hover {
  background: #555;
}